<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GH MEDCARE</title>
  <link rel="stylesheet" href="../static/styles/style.css">
  <script src="../static/js/land.js"></script>
  <div class="line"></div> <!-- Add this line -->
  <!-- Rest of the header content -->
</head>
<body>
    <div class="line"></div>
  <div class="project-name">GH MEDCARE</div> <!-- Add this div -->
  
  <header>
    <nav>
      <ul>
        <li><a href="#About">About</a></li>
        <li><a href="../template/book_apt.html">Book an Appointment</a></li>
        <li><a href="#Providers">Providers</a></li>
        <li><a href="#Contact">Contact</a></li>
        <li><a href="../template/Login.html">Log Out</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section id="hero">
      <h1>Connecting Patients and Providers in the Virtual Healthcare World</h1>
      <p>Experience convenient and personalized healthcare from the comfort of your home.</p>
      <!--<a href="#contact" class="cta-button">Get Started</a><br>-->
      <img id="gh_medcare" src="" alt="" class="img-fluid w-50 mt-4">
    </section>

    <section id="about">
      <h2>About Us</h2>
      <p>We are a leading healthcare platform dedicated to connecting patients with</p>
      <p>qualified healthcare providers through secure and seamless online consultations</p>
      <p>Our mission is to make healthcare accessible to everyone, anytime, anywhere.</p>
    </section>

    <section id="book-appointment">
      <h2>Book an Appointment</h2>
      <p>Take control of your healthcare by booking an appointment with our qualified providers.</p>
      <p>Experience virtual consultations from the comfort of your own home.</p>
      <img src="../static/images/telemed.09.gif" alt="Telemedicine Book"><br>
      <a href="../template/book_apt.html" class="cta-button">Book Now</a><br>
    </section>

    <section id="providers">
      <h2>Our Providers</h2>
      <p>Our platform hosts a diverse network of experienced and specialized healthcare providers.</p>
      <p>From general practitioners to specialists in various fields,</p>
      <p>you can find the right provider for your healthcare needs.</p>
      <a href="#contact" class="cta-button">Find a Provider</a>
    </section>

    <section id="contact">
      <h2>Contact Us</h2>
      <form>
        <input type="text" name="name" placeholder="Your Name" required>
        <input type="email" name="email" placeholder="Your Email" required>
        <textarea name="message" placeholder="Your Message" required></textarea>
        <button type="submit">Send Message</button>
      </form>
    </section>
  </main>

  <footer>
    <p>&copy; 2023 GH MedCare. All rights reserved.</p>
  </footer>

</body>
</html>