<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="../static/styles/signup_style.css">
</head>
<body>
  <div class="project-name">GH MEDCARE</div> <!-- Add this div -->
    <div id="root"></div>

    <!-- Your React component will be inserted here -->
  
    <script src="../static/js/signup_page.js"></script>
  <div class="container">
    <h1>Sign Up</h1>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a href="../template/Login.html">Login</a></p>
  </div>
</body>
</html>