/* Logo styles */
.project-name {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  color: #3498db; /* Choose your desired color */
  text-align: top left;
  margin-top: 5px; /* Adjust the margin to position it */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Optional: Add a subtle text shadow */
}
body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 100px auto;
    max-width: 400px;
    padding: 20px;
  }
  
  h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
  }
  
  button[type="submit"] {
    background-color: #333;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
  }
  
  button[type="submit"]:hover {
    background-color: #555;
  }
  
  p {
    text-align: center;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  /* Footer styles */
footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}